/* Import Css Reset */
  @import "reset.css";

/* General */
body {
    height: 100%;
    width: 100%;
    font-family: Effra-regular,Arial,sans-serif;
    margin: auto;
}

.clear {
    clear: both;
}
/* Header */
