/* Import Css Reset */
@import "reset.css";

/* General */
body, html {
    height: 100%;
    width: 100%;
    font-family: Effra-regular,Arial,sans-serif;
    margin: auto;
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

/* Header */
#nav {
    font-size: 23px;
    width: 100%;
    position: fixed;
    height: 70px;
    z-Index: 99999999999999999999999;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#nav.toggled {
    background-color: rgba(0, 164, 199, 0.5);
}

#nav a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    margin-left: 80px;
}

#nav .header ul li {
    margin-top: 26px;
    display: inline-block;
}

#nav .header .left {
    float: left;
    margin-left: 400px;
}

/* Parallax */
.parallax {
    width: 100%;
    height: 100%;
    background-image: url("../Images/Main13.jpg");
    position: relative;
    background-attachment: fixed;
    background-position: initial;
}

.parallax h1 {
    position: absolute;
    top: 560px;
    left: 200px;
    color: #ffffff;
    font-size: 80px;
}

/* About me */
#aboutme {
    width: 100%;
    height: 100%;
    background: #1c1f3f;
}

#aboutme .overlay {
    float: left;
    padding-right: 340px;
    padding-bottom: 1040px;
    background: #353a78;
    border-radius: 0 85px 85px 0;
    -webkit-border-radius: 0 85px 85px 0;
    -moz-border-radius: 0 85px 85px 0;
    -ms-border-radius: 0 85px 85px 0;
    -o-border-radius: 0 85px 85px 0;
}

#aboutme img {
    position: relative;
    margin-top: 180px;
    right: 150px;
    width: 24%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 11px 10px #000000;
    box-shadow: 0px 0px 11px 10px #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#aboutme img:hover {
    cursor: pointer;
    margin-left: 49px;
    width: 20%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-box-shadow: 0px 0px 11px 10px #fff;
    box-shadow: 0px 0px 11px 10px #fff;
} 

#aboutme p {
    width: 60%;
    height: 60%;
    font-size: 30px;
    text-align: left;
    text-shadow: #000000;
    /*background: red;*/
    color: #ffffff;
    position: relative;
    left: 450px;
    bottom: 630px;
}

/* Social media */
#socialmedia {
    width: 100%;
    height: 100%;
    background: #1c1f3f;
}

/*#socialmedia .headover {
    height: 127px;
    width: 100%;
    background: #2e3268;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    -webkit-box-shadow: 0px 25px 20px 0px #000000; 
    box-shadow: 0px 25px 20px 0px #000000;
}*/

#socialmedia .social {
    width: 95%;
    height: 85%;
    margin: auto;
}

#socialmedia .social img {
    margin-top: 65px;
    width: 20%;
}

/* Twitch */
#socialmedia .social .right .twitch {
    padding: 75px 250px 75px 250px;
    background: #353a78;
    border: 3px solid #00ffff;
    border-radius: 0 30px 0 0;
    -webkit-border-radius: 0 30px 0 0;
    -moz-border-radius: 0 30px 0 0;
    -ms-border-radius: 0 30px 0 0;
    -o-border-radius: 0 39px 0 0;
    -webkit-box-shadow: 0px 0px 50px 20px #0D23C6;
    box-shadow: 0px 0px 50px 20px #0D23C6;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#socialmedia .social .right .twitch:hover {
    padding: 55px 200px 55px 200px;
    background: #353a78;
    border: 2px solid #00ffff;
    border-radius: 0 60px 0 0;
    -webkit-border-radius: 0 60px 0 0;
    -moz-border-radius: 0 60px 0 0;
    -ms-border-radius: 0 60px 0 0;
    -o-border-radius: 0 60px 0 0;
}


/* Discord */
#socialmedia .social .right .discord {
    padding: 75px 250px 75px 250px;
    background: #353a78;
    border: 3px solid #00ffff;
    border-radius: 0 0 39px 0;
    -webkit-border-radius: 0 0 39px 0;
    -moz-border-radius: 0 0 39px 0;
    -ms-border-radius: 0 0 39px 0;
    -o-border-radius: 0 0 39px 0;
    -webkit-box-shadow: 0px 0px 50px 20px #0D23C6;
    box-shadow: 0px 0px 50px 20px #0D23C6;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#socialmedia .social .right .discord:hover {
    padding: 55px 200px 55px 200px;
    background: #353a78;
    border: 2px solid #00ffff;
    border-radius: 0 0 60px 0;
    -webkit-border-radius: 0 0 60px 0;
    -moz-border-radius: 0 0 60px 0;
    -ms-border-radius: 0 0 60px 0;
    -o-border-radius: 0 0 60px 0;
}

/* Instagram */
#socialmedia .social .left .instagram {
    position: relative;
    margin-left: 110px;
    padding: 75px 250px 75px 250px;
    background: #353a78;
    border: 3px solid #00ffff;
    border-radius: 39px 0 0 0;
    -webkit-border-radius: 39px 0 0 0;
    -moz-border-radius: 39px 0 0 0;
    -ms-border-radius: 39px 0 0 0;
    -o-border-radius: 39px 0 0 0;
    -webkit-box-shadow: 0px 0px 50px 20px #0D23C6;
    box-shadow: 0px 0px 50px 20px #0D23C6;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#socialmedia .social .left .instagram:hover {
    padding: 55px 200px 55px 200px;
    margin-left: 200px;
    background: #353a78;
    border: 2px solid #00ffff;
    border-radius: 60px 0 0 0;
    -webkit-border-radius: 60px 0 0 0;
    -moz-border-radius: 60px 0 0 0;
    -ms-border-radius: 60px 0 0 0;
    -o-border-radius: 60px 0 0 0;
}

/* Youtube */
#socialmedia .social .left .youtube {
    margin-left: 110px;
    padding: 75px 250px 75px 250px;
    background: #353a78;
    border: 3px solid #00ffff;
    border-radius: 0 0 0 39px;
    -webkit-border-radius: 0 0 0 39px;
    -moz-border-radius: 0 0 0 39px;
    -ms-border-radius: 0 0 0 39px;
    -o-border-radius: 0 0 0 39px;
    -webkit-box-shadow: 0px 0px 50px 20px #0D23C6;
    box-shadow: 0px 0px 50px 20px #0D23C6;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#socialmedia .social .left .youtube:hover {
    margin-left: 200px;
    padding: 55px 200px 55px 200px;
    background: #353a78;
    border: 2px solid #00ffff;
    border-radius: 0 0 0 60px;
    -webkit-border-radius: 0 0 0 60px;
    -moz-border-radius: 0 0 0 60px;
    -ms-border-radius: 0 0 0 60px;
    -o-border-radius: 0 0 0 60px;
}

#socialmedia .social .right {
    margin-right: 140px;
    margin-top: 90px;
    float: right;
    width: 40%;
    height: 70%;
}

#socialmedia .social .left {
    margin-left: 140px;
    margin-top: 90px;
    float: left;
    width: 40%;
    height: 70%;
}

#socialmedia .social .left ul li {
    margin-left: 100px;
}

#socialmedia .social .right ul li {
    margin-right: 100px;
}

/* Skills */
#skills {
    width: 100%;
    height: 100%;
    /*background: #1c1f3f;*/
    background: #1c1f3f;
}

#skills .leftover {
    background: #00ffff;
    width: 12%;
    height: 24%;
    float: left;
    border-radius: 0 0 450px 0;
    -webkit-border-radius: 0 0 450px 0;
    -moz-border-radius: 0 0 450px 0;
    -ms-border-radius: 0 0 450px 0;
    -o-border-radius: 0 0 450px 0;
}

#skills img {
    width: 50%;
}

#skills .left {
    width: 20%;
    float: left;
    margin-top: 240px;
}

#skills .left .adobe img {
    position: relative;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

#skills .left .adobe img:hover {
    background: #353a78;
    padding: 10px 350px 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#skills .left .adobe p {
    color: #fff;
    font-size: 40px;
    position: relative;
    left: 180px;
    bottom: 40px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#skills .left .twitchyt img {
    position: relative;
    margin-top: 140px;
    margin-left: 60px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

#skills .left .twitchyt img:hover {
    background: #353a78;
    padding: 10px 350px 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#skills .left .twitchyt p {
    color: #fff;
    font-size: 35px;
    position: relative;
    left: 230px;
    bottom: 20px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#skills .right {
    width: 20%;
    /*background: #f9ab25;*/
    float: right;
    margin-top: 150px;
    margin-right: 500px;
}

#skills .right .musicsports img {
    margin-left: 90px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

#skills .right .musicsports img:hover {
    background: #353a78;
    padding: 10px 350px 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#skills .right .musicsports p {
    color: #fff;
    font-size: 35px;
    position: relative;
    left: 260px;
    bottom: 20px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#skills .right .gaming img {
    margin-top: 90px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

#skills .right .gaming img:hover {
    background: #353a78;
    padding: 10px 350px 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#skills .right .gaming p {
    color: #fff;
    font-size: 35px;
    position: relative;
    left: 180px;
    bottom: 30px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}



/* Footer */
#footer {
    font-size: 22px;
    background:#4b4b4b;
    height: 20px;
    text-align: center;
    color: #fff;
    padding: 15px;
}

#footer .fa-heart {
    color: #D52A2A;
}

#footer .fa-coffee {
    color: #f9ab25;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-width: 1537px) {
    
}