/* Import Css Reset */
@import "reset.css";

/* General Styles */

@font-face {
    font-family: Roboto;
    src: url(../Fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-display: swap;
}

/* General */
body,input, button {
    font-family: Roboto;
}

body {
    direction: ltr;
    background: #1c1f3f;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1100px;
    margin: auto;
}

.clear {
    clear: both;
}

/* Header */
#header {
    width: 100%;
    /* background: red; */z
    margin-top: 100px;
}

/* Home */
#header .home {
    float: right;
}

#header .home a {
    color: #fff;
    font-size: 40px;
    background: #3B4382;
    padding: 7px;
    border-radius: 16.9px;
    -webkit-border-radius: 16.9px;
    -moz-border-radius: 16.9px;
    -ms-border-radius: 16.9px;
    -o-border-radius: 16.9px;
}

/* Icons */
#header .icons {
    float: left;
}

#header .icons a {
    color: #fff;
    font-size: 40px;
    background: #3B4382;
    padding: 7px;
    border-radius: 16.9px;
    -webkit-border-radius: 16.9px;
    -moz-border-radius: 16.9px;
    -ms-border-radius: 16.9px;
    -o-border-radius: 16.9px;
}


