/* Import Css Reset */
@import "reset.css";

/* General Styles */

body {
    background: #1c1f3f;
    font-family: tahoma;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

/* Skills */
#skills .home {
    /*background: red;*/
    float: right;
    margin: 100px 435px 0 0;
}

#skills .home a {
    color: #fff;
    padding: 5px;
    width: 100%;
    font-size: 30px;
    background: #353a78;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 12px 2px #000000;
    box-shadow: 0px 0px 12px 2px #000000;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#skills .home a:hover {
    color: #353a78;
    background: #fff;
}

#skills .youtube {
    width: 2%;
    position: relative;
    top: 26px;
    margin: 10px 0 0 490px;
    background: #3b4382;
    padding: 5px 21px 20px 0;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

#skills .youtube a {
    width: 100%;
    padding: 9px;
    background: red;
}

#skills .youtube img {
    margin-left: 8px;
    width: 100%;
}

#skills .main {
    position: relative;
    top: 9px;
    margin: auto;
    background: #353a78;
    width: 55%;
    height: 600px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-box-shadow: 0px 0px 14px 4px #000000; 
    box-shadow: 0px 0px 14px 4px #000000;
}

#skills .main .textfild {
    position: relative;
    top: 100px;
    left: 170px;
    background: rgba(255, 255, 255, 0.3);
    width: 700px;
    height: 350px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#skills .main .textfild p {
    width: 90%;
    position: relative;
    color: #fff;
    font-size: 20px;
    top: 15px;
    left: 25px;
    /*background: red;*/
    text-align: left;
    line-height: 34px;
}

#skills .main .overone .overthree {
    /*background: rgba(0, 0, 0, 0.6);*/
    margin-top: 17px;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
}

#skills .main .overone .overfour {
    position: relative;
    bottom: 234px;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
}
